<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Birthday</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for person in people %}
    <tr>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.birthday }}</td>
        <td>
            <a href="/DjangoCRUD/edit/{{ person.firstName }}"><span>Edit</span></a>
            <a href="/DjangoCRUD/delete/{{ person.firstName }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<a href="/DjangoCRUD/add">Add New Person</a>
</body>
</html>